
.overlay {
  z-index: 9999;
}

  .closebtn {
    position: absolute;
    top: 20px;
    right: 24px;
    font-size: 30px;
    color:var(--accent1);
    cursor: pointer;
  }
  
  .overlay input[type="text"] {
    color: var(--accent1);
    padding: 10px;
    font-size: 16px;
    margin-top: 200px;
  }
  
  .overlay button {
    padding: 10px;
    font-size: 16px;
  }