@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  html body {
    font-family: var(--font-sans, var(--font-sans-fallback));
  }

  body,
  html {
    text-rendering: optimizeLegibility;
    background-color: var(--background);
    color: var(--gray-1000);
    scroll-padding-top: var(--header-height);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
    border-radius: 10px; 
  }
  html::-webkit-scrollbar {
    width: 0.3vw;
  }
  html::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
  html::-webkit-scrollbar-track {
    background-color: #555;
  }
  #docs-sidebar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
    border-radius: 10px; 
  }
  #docs-sidebar::-webkit-scrollbar {
    width: 0.5vw;
  }
  #docs-sidebar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
  }
  #docs-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
  #docs-sidebar::-webkit-scrollbar-track {
    background-color: #555;
  }

  :root {

    --padding-inline: 1rem;
    --breakout-size: 70ch;
    --breakout-max-width: 85ch;
    --breakout-size: calc((var(--breakout-max-width) - var(--content-max-width)) / 2 );
    --flow-spacing: 2rem;


    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;

    --sidebar-dashboard-width: 13rem;
    --headerHeight: 4.5rem;
    --globalNavHeight: 4.5rem;
    --music-grid-banner-height: 5rem;
    --musicTabsHeight: 3rem;
    --music-grid-banner-height-mobile: 2rem;
    --sidebar-width: 208px;

    --theme-50: 185 100% 97%;
    --theme-100: 200 91% 94%;
    --theme-200: 195 92% 85%;
    --theme-300: 193 82% 70%;
    --theme-400: 190 85% 55%;
    --theme-500: 188 86% 53%;
    --theme-600: 193 87% 36%;
    --theme-700: 196 82% 31%;
    --theme-800: 199 67% 28%;
    --theme-900: 199 61% 25%;
    --theme-950: 201 60% 19%;

    --primary: var(--theme-500);
    --primary-foreground: var(--theme-950);

    --secondary: 195 92% 72%;
    --secondary-foreground: var(--theme-600);

    --theme-hover: 199 100% 40%;
    --theme-secondary: 230 100% 51%;

    --texthigh: 240 5.9% 10%;
    --textlow: 0 0% 40%;
    --indexhigh: 210 6% 93%;
    --indexlow: 218 11% 65%;

    --background-navbartop: hsla(0, 0%, 2%, 0.5);
    --background-navbarbottom: hsla(0, 0%, 2%, 0.5);


    --scrollbar-thumb-color: hsl(var(--primary));
    --scrollbar-track-color: hsl(var(--secondary));

    --background-globalnav: 221 41% 8%;
    --background-navbartop: 221 50% 98%;
    --background-navbarbottom: 221 50% 98%;
    --background-footer: 221 41% 20%;
    --background-shopHeader: hsl(var(--background-navbartop));
    --background-footer: 221 41% 20%;

    --background-shop-navlink: 195 92% 85%;

    --background: 0 0% 100%;
    --background-index: 0 0% 0%;  

    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 85%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 195 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card:240 4.8% 97%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --accent-theme: 252 40.1% 22.5%;
    --accent: 240 6% 82%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 30.6%;    
    --destructive-foreground: 210 20% 98%;   

    --ring: 191 94% 42%;

    --radius: 0.5rem;



   
  }

  .dark {

    --theme: 280 71% 60%;
    --theme-50: 282 100% 97.8%;
    --theme-100: 249 100% 94%;
    --theme-200: 247 40% 84%;
    --theme-300: 250 83% 81%;
    --theme-400: 257 76% 67%;
    --theme-500: 272 83% 50%;
    --theme-600: 280 72% 49%;
    --theme-700: 277 70% 40%;
    --theme-800: 282 67% 35%;
    --theme-900: 288 63% 29%;
    --theme-950: 269 82% 16%;

    --background-navbartop: hsla(0, 0%, 2%, 0.5);
    --background-navbarbottom: hsla(0, 0%, 2%, 0.5);

    --scrollbar-thumb-color: hsl(var(--primary));
    --scrollbar-track-color: hsl(var(--secondary));

    --primary: var(--theme-500);    
    --primary-foreground: 210 20% 98%;   

    --secondary: var(--theme-200);
    --secondary-foreground: var(--theme-600);

    --theme-secondary: 295 100% 51%;

    --texthigh: 210 6% 93%;
    --textlow: 218 11% 65%;
    --indexhigh: 210 6% 93%;
    --indexlow: 218 11% 65%;


    --background-globalnav: 252 40% 6%;
    --background-navbartop: 252 40% 6%;
    --background-navbarbottom: 252 40% 6%;
    --background-footer: 280 41% 37%;

    --background-shop-navlink: 272 100% 20%;

    --background: 252 40% 4%;  
    --background-index: 0 0% 3%;     
  
    --backgroundgradient: linear-gradient(
      120deg,
      var(--colors-indigo4),
      var(--colors-plum3)
    );

    --foreground: 210 0% 98%;  

    --muted: 215 27.9% 16.9%;    
    --muted-foreground: 217.9 10.6% 64.9%;    

    --popover: 224 71.4% 4.1%;    
    --popover-foreground: 210 20% 98%; 

    --card: 215 27.9% 10%;    
    --card-foreground: 210 20% 98%;   

    --border: 214 32% 91%; 
    --input: 215 28% 17%;    

    --accent: 0 0% 4%;
    --accent-foreground: 210 20% 98%;  

    --accent-theme: hsl(252 40% 22%);
    --accent-7: 0 0% 93%;
    --accent-6: 0 0% 62.8%;
    --accent-5: 0 0% 49.4%;
    --accent-4: 0 0% 43.9%;
    --accent-3: 0 0% 24.3%;
    --accent-2: 0 0% 10.5%;
    --accent-1: 0 0% 7.6%;

    --destructive: 0 62.8% 30.6%;    
    --destructive-foreground: 210 20% 98%;   

    --ring: 263.4 70% 50.4%;

    --radius: 0.5rem;
   
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      120deg,
      var(--colors-indigo4),
      var(--colors-plum3)
    );
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :global(body.custom-body-class) {
    background-color: black;
  }
  @media (max-width: 767px) {
    body {
      scrollbar-width: none;
    }
  }
}








.navbar-container {
  max-width: 90rem;
  margin: 0 auto;
}

.flex-full {
  flex: 0 0 100%;
}
.hero_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 0 0 40px;
}

.user-profile-container {
  width: calc(100vw - var(--sidebar-dashboard-width));
}
.scrollable-container {
  /* Adjust the height as needed */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-width: 0.7vw;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.grid-gradient {
  position: absolute;
  height: 100px;
  background: white;
}
.right-gradient {
  width: 33.333333%;
  max-width: 600px;
  height: 100px;
  right: 0;
  top: 80px;
  background: hsl(var(--primary));
  filter: blur(130px);
}
.left-gradient {
  position: absolute;
  width: 33.333333%;
  height: 180px;
  top: 300px;
  left: 0;
  width: 25%;
  background: #160068;
  filter: blur(100px);
}


.global-container {
  display: flex;
  max-width: 1441px;
  margin: 0 auto;
}
.bgvideo {
  z-index: -2;
  align-content: center;
  justify-content: center;
}

.signin-card-gradient {
  position: absolute;
  width: 42%;
  height: 180px;
  top: 72%;
  left: 0;
  background: hsl(var(--theme-secondary));
  filter: blur(100px);
}

/* Music GRID */

.music-grid-gradient {
  position: absolute;
  width: 33.333333%;
  height: 180px;
  top: 300px;
  left: 0;
  opacity: 0.3;
  background: hsl(var(--theme-secondary));
  filter: blur(300px);
}
.music-grid-banner {
  height: calc(100dvh - var(--headerHeight));
}
.music-grid {
  height: calc(100vh - var(--headerHeight) - var(--music-grid-banner-height) - var(--musicTabsHeight)) ;
}
.music-grid-mobile {
  height: calc(100vh - var(--headerHeight) - var(--music-grid-banner-height-mobile) - var(--musicTabsHeight));
}
.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  height: calc(100dvh - var(--headerHeight));
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: sticky;
  left: 0;
  height: auto;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  height: auto;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.sidebar-open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}
