@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  html body {
    font-family: var(--font-sans, var(--font-sans-fallback));
  }

  body,
  html {
    text-rendering: optimizeLegibility;
    background-color: var(--background);
    color: var(--gray-1000);
    scroll-padding-top: var(--header-height);
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
    border-radius: 10px; 
  }
  html::-webkit-scrollbar {
    width: 0.3vw;
  }
  html::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
  html::-webkit-scrollbar-track {
    background-color: #555;
  }
  #docs-sidebar {
    scrollbar-width: thin;
    scrollbar-color: hsl(var(--primary)) hsl(var(--muted));
    border-radius: 10px; 
  }
  #docs-sidebar::-webkit-scrollbar {
    width: 0.5vw;
  }
  #docs-sidebar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--primary));
  }
  #docs-sidebar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--primary));
  }
  #docs-sidebar::-webkit-scrollbar-track {
    background-color: #555;
  }

  :root {

    --animation-duration: 200ms;
    --animation-timing-curve: ease-in-out;

    --sidebar-dashboard-width: 220px;
    --headerHeight: 72px;
    --globalNavHeight: 128px;
    --music-grid-banner-height: 88px;
    --music-grid-banner-height-mobile: 48px;

    --destructive-50: 0 100% 95.5%;
    --destructive-100: 0 100% 91.5%;
    --destructive-200: 0 92% 85.5%;
    --destructive-300: 0 87% 76.5%;
    --destructive-400: 0 75% 65.5%;
    --destructive-500: 0 76% 54.5%;
    --destructive-600: 0 73% 46.5%;
    --destructive-700: 0 68% 39.5%;
    --destructive-800: 0 65% 34.5%;
    --destructive-900: 0 62% 29.5%;
    --destructive-950: 0 76% 18%;
    --theme-hue: 199;
    --theme-lightness: 60%;
    --theme-saturation: 100%;
    --theme: hsl(
      var(--theme-hue) var(--theme-saturation) var(--theme-lightness)
    );

    --theme-50: 185 100% 97%;
    --theme-100: 200 91% 94%;
    --theme-200: 195 92% 85%;
    --theme-300: 193 82% 70%;
    --theme-400: 190 85% 55%;
    --theme-500: 188 86% 53%;
    --theme-600: 193 87% 36%;
    --theme-700: 196 82% 31%;
    --theme-800: 199 67% 28%;
    --theme-900: 199 61% 25%;
    --theme-950: 201 60% 19%;

    --primary: var(--theme-500);
    --primary-foreground: var(--theme-950);

    --secondary: 195 92% 72%;
    --secondary-foreground: var(--theme-600);

    --theme-hover: 199 100% 40%;
    --secondary-hero-2: 212 100% 51%;

    --texthigh: 240 5.9% 10%;
    --textlow: 0 0% 40%;
    --indexhigh: 210 6% 93%;
    --indexlow: 218 11% 65%;

    --background-navbartop: hsla(0, 0%, 2%, 0.5);
    --background-navbarbottom: hsla(0, 0%, 2%, 0.5);

    --sidebar-dashboard-width: 220px;
    --headerHeight: 72px;
    --globalNavHeight: 128px;
    --music-grid-banner-height: 88px;
    --music-grid-banner-height-mobile: 48px;

    --scrollbar-thumb-color: hsl(var(--primary));
    --scrollbar-track-color: hsl(var(--secondary));

    --background-globalnav: 221 41% 8%;
    --background-navbartop: 221 50% 98%;
    --background-navbarbottom: 221 50% 98%;
    --background-footer: 221 41% 20%;
    --background-shopHeader: hsl(var(--background-navbartop));
    --background-footer: 221 41% 20%;

    --background-shop-navlink: 195 92% 85%;

    --background: 0 0% 100%;
    --background-index: 0 0% 0%;  

    --background-gradient: linear-gradient(
      120deg,
      var(--colors-indigo4),
      var(--background)
    );

    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 85%;
    --muted-foreground: 240 3.8% 46.1%;

    --popover: 195 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --card:240 4.8% 97%;
    --card-foreground: 240 10% 3.9%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    --accent-theme: 252 40.1% 22.5%;
    --accent: 240 6% 82%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 62.8% 30.6%;    
    --destructive-foreground: 210 20% 98%;   

    --ring: 191 94% 42%;

    --radius: 0.5rem;
    --sidebar-width: 208px;


   
  }

  .dark {

    --theme: 280 71% 60%;
    --theme-50: 282 100% 97.8%;
    --theme-100: 249 100% 94%;
    --theme-200: 247 40% 84%;
    --theme-300: 250 83% 81%;
    --theme-400: 257 76% 67%;
    --theme-500: 272 83% 50%;
    --theme-600: 280 72% 49%;
    --theme-700: 277 70% 40%;
    --theme-800: 282 67% 35%;
    --theme-900: 288 63% 29%;
    --theme-950: 269 82% 16%;

    --background-navbartop: hsla(0, 0%, 2%, 0.5);
    --background-navbarbottom: hsla(0, 0%, 2%, 0.5);

    --scrollbar-thumb-color: hsl(var(--primary));
    --scrollbar-track-color: hsl(var(--secondary));

    --primary: var(--theme-500);    
    --primary-foreground: 210 20% 98%;   

    --secondary: var(--theme-200);
    --secondary-foreground: var(--theme-600);

    --secondary-hero-2: 270 100% 60%;

    --texthigh: 210 6% 93%;
    --textlow: 218 11% 65%;
    --indexhigh: 210 6% 93%;
    --indexlow: 218 11% 65%;


    --background-globalnav: 252 40% 6%;
    --background-navbartop: 252 40% 6%;
    --background-navbarbottom: 252 40% 6%;
    --background-footer: 280 41% 37%;

    --background-shop-navlink: 272 100% 20%;

    --background: 252 40% 4%;  
    --background-index: 0 0% 3%;     
  
    --backgroundgradient: linear-gradient(
      120deg,
      var(--colors-indigo4),
      var(--colors-plum3)
    );

    --foreground: 210 0% 98%;  

    --muted: 215 27.9% 16.9%;    
    --muted-foreground: 217.9 10.6% 64.9%;    

    --popover: 224 71.4% 4.1%;    
    --popover-foreground: 210 20% 98%; 

    --card: 215 27.9% 10%;    
    --card-foreground: 210 20% 98%;   

    --border: 214 32% 91%; 
    --input: 215 28% 17%;    

    --accent: 0 0% 4%;
    --accent-foreground: 210 20% 98%;  

    --accent-theme: hsl(252 40% 22%);
    --accent-7: 0 0% 93%;
    --accent-6: 0 0% 62.8%;
    --accent-5: 0 0% 49.4%;
    --accent-4: 0 0% 43.9%;
    --accent-3: 0 0% 24.3%;
    --accent-2: 0 0% 10.5%;
    --accent-1: 0 0% 7.6%;

    --destructive: 0 62.8% 30.6%;    
    --destructive-foreground: 210 20% 98%;   

    --ring: 263.4 70% 50.4%;

    --radius: 0.5rem;
   
  }
}

@layer utilities {
  .bg-custom-gradient {
    background: linear-gradient(
      120deg,
      var(--colors-indigo4),
      var(--colors-plum3)
    );
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  :global(body.custom-body-class) {
    background-color: black;
  }
  @media (max-width: 767px) {
    body {
      scrollbar-width: none;
    }
  }
}

.home-circle {
  width: 100%;
  position: relative;
}

.home-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform:  translate(-50%, -50%) rotate(45deg);
  width: 400px;
  height: 400px;
  box-shadow:  0px 0px 80px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset 5px 0px 5px hsl(var(--primary)),
  inset 10px 0px 10px 3px hsl(var(--primary)),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5),
  inset 30px 10px 35px 5px hsl(var(--theme-600));
  border-radius: 50%;
}
.home-circle2 {
  width: 100%;
  height: 1200px;
  position: relative;
}
.home-circle2::before {
  overflow: hidden;
  content: '';
  position: absolute;
  top: 0%;
  left: 50%;
  transform:  translate(-50%, -50%) rotate(-90deg);
  width: 1200px;
  height: 1200px;
  box-shadow:  0px 0px 80px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset 5px 0px 5px hsl(var(--primary)),
  inset 10px 0px 10px 3px hsl(var(--primary)),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5),
  inset 30px 10px 35px 5px hsl(var(--theme-600));
  border-radius: 50%;
}
.home-circle3 {
  width: 100%;
  height: 2200px;
  position: relative;
  
}
.home-circle3::before {
  overflow: hidden;
  content: '';
  position: absolute;
  transform:  translate(100%, 50%) rotate(90deg);
  width: 1600px;
  height: 1600px;
  box-shadow:  0px 0px 20px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset 5px 0px 5px hsl(var(--primary)),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5),
  inset 30px 10px 35px 5px hsl(var(--theme-600));
  border-radius: 50%;
}
.home-bar-bottom-left {
  position: relative;
  right: 0; /* Align to the right side of the screen */
  z-index: 200;
}

.home-bar-bottom-left::before {
  content: '';
  position: absolute;
  top: 0%;
  right: 0px;
  transform:  translate(50%, 50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  box-shadow:  80px 20px 80px 20px hsl(var(--theme-800)),
  0px 0px 0px 0px hsl(var(--primary)),
  inset 3px 3px 3px 3px hsl(var(--primary)),
  inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.home-bar-bottom-right {
  position: relative;
  right: 0; /* Align to the right side of the screen */
  z-index: 300;
}

.home-bar-bottom-right::before {
  content: '';
  position: absolute;
  top: 0%;
  right: -60px;
  transform:  translate(50%, 50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  box-shadow:  80px 20px 80px 20px hsl(var(--theme-800)),
  0px 0px 0px 0px hsl(var(--primary)),
  inset 3px 3px 3px 3px hsl(var(--primary)),
  inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.home-bar {
  position: fixed; /* Fixed positioning to keep it in place while scrolling */
  top: 1000px; /* Adjust the value based on your design */
  right: 0; /* Align to the right side of the screen */
  z-index: 300;
}

.home-bar::before {
  content: '';
  position: absolute;
  top: 0%;
  right: 0px;
  transform:  translate(50%, 50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  box-shadow:  80px 20px 80px 20px hsl(var(--theme-800)),
  0px 0px 0px 0px hsl(var(--primary)),
  inset 3px 3px 3px 3px hsl(var(--primary)),
  inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.home-bar2 {
  position: fixed; /* Fixed positioning to keep it in place while scrolling */
  top: 1000px; /* Adjust the value based on your design */
  right: 0; /* Align to the right side of the screen */
  z-index: 300;
}

.home-bar2::before {
  content: '';
  position: absolute;
  top: 0%;
  right: -60px;
  transform:  translate(50%, 50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  box-shadow:  80px 20px 80px 20px hsl(var(--theme-800)),
  0px 0px 0px 0px hsl(var(--primary)),
  inset 3px 3px 3px 3px hsl(var(--primary)),
  inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.home-bar3 {
  position: fixed; /* Fixed positioning to keep it in place while scrolling */
  top: 1000px; /* Adjust the value based on your design */
  right: 0; /* Align to the right side of the screen */
  z-index: 300;
}

.home-bar3::before {
  content: '';
  position: absolute;
  top: 0%;
  right: -120px;
  transform:  translate(50%, 50%) rotate(-45deg);
  width: 300px;
  height: 300px;
  box-shadow:  80px 20px 80px 20px hsl(var(--theme-800)),
  0px 0px 0px 0px hsl(var(--primary)),
  inset 3px 3px 3px 3px hsl(var(--primary)),
  inset 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}

.home-bar-left {
  width: 100%;
  position: relative;

}
.home-bar-left::before {
  content: '';
  position: absolute;
  top: 0%;
  left: -300px;
  transform:  translate(50%, 50%) rotate(45deg);
  width: 300px;
  height: 300px;
  box-shadow:  0px 0px 80px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset 5px 0px 5px hsl(var(--primary)),
  inset 10px 0px 10px 3px hsl(var(--primary)),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5),
  inset 30px 10px 35px 5px hsl(var(--theme-600));
  border-radius: -50%;
}
.home-bar2-left {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 200;
}
.home-bar2-left::before {
  margin: auto;
  content: '';
  position: absolute;
  top: 0%;
  left: -360px;
  transform:  translate(50%, 50%) rotate(45deg);
  width: 300px;
  height: 300px;
  box-shadow:  0px 0px 80px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset 5px 0px 5px hsl(var(--primary)),
  inset -5px -5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.home-bar3-left {
  width: 100%;
  height: 1200px;
  position: relative;
  z-index: 300;
}
.home-bar3-left::before {
  margin: auto;
  content: '';
  position: absolute;
  top: 0%;
  left: -420px;
  transform:  translate(50%, 50%) rotate(45deg);
  width: 300px;
  height: 300px;
  box-shadow:  0px 0px 80px hsl(var(--theme-800)),
  0px 0px 15px hsl(var(--primary)), 
  inset -5px -5px 5px rgba(0, 0, 0, 0.5);
  border-radius: -50%;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 96%;
  animation: roti 20s linear forwards infinite;
}
@keyframes roti {
  0%
  {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
  100%
  {
    transform: translate(-50%, -50%) rotate(0deg);
  }
}
.aisa1 {
  transform: rotate(288deg);
  width: 100%;
  height: 100%;

}
/* .aisa1::before {
  content: '';
  width: 20%;
  height: 40%;
  position: absolute;
  top: 200px;
  left: 400px;
  transform: translate(-50%, -50%);
  border-top: 6px solid hsl(var(--primary));
  border-top-left-radius: 100%;
  z-index: -1;

} */
/* .aisa1::after {
  content: '';
  width: 20%;
  height: 40%;
  position: absolute;
  top: 100%;
  left: 80%;
  transform: translate(-50%, -50%);
  border-bottom: 6px solid hsl(var(--primary));
  border-bottom-right-radius: 100%;
  z-index: -1;
} */
.aisa2::before {
  content: '';
  width: 26%;
  height: 80%;
  position: absolute;
  top: 32%;
  left: 32%;
  transform: translate(-50%, -50%);
  border-top: 4px solid hsl(var(--primary));
  border-top-left-radius: 400px;
  z-index: -1;

}
.aisa2::after {
  content: '';
  width: 20%;
  height: 40%;
  position: absolute;
  top: 100%;
  left: 82%;
  transform: translate(-50%, -50%);
  border-bottom: 4px solid hsl(var(--primary));
  border-bottom-right-radius: 600px;
  z-index: -1;
}
/* .aisa3::before {
  content: '';
  width: 26%;
  height: 80%;
  position: absolute;
  top: 64%;
  left: 64%;
  transform: translate(-50%, -50%);
  border-bottom: 4px  hsl(var(--primary));
  border-bottom-right-radius: 400px;
  z-index: -1;

} */

.navbar-container {
  max-width: 90rem;
  margin: 0 auto;
}

.flex-full {
  flex: 0 0 100%;
}
.hero_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  font-weight: 800;
  margin: 0 0 40px;
}

.hero_description {
  font-size: 1.5rem;
  color: hsl(var(--indexlow));
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 740px;
  width: 100%;
  margin: 0 auto 64px;
  vertical-align: top;
  text-decoration: inherit;
}
.hero_gradient-button-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
}
.hero_gradient-link-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-width: 1px;
  max-width: 100%;
}
.hero_gradient-button {
  background-color: hsl(var(--background));
  background-clip: padding-box;
  border: 1px solid transparent;
  box-shadow: 0 4px 4px 0 #00000010;
  color: var(--foreground);
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hero_gradient-button-outline {
  background-color: hsl(var(--background));
  background-clip: padding-box;
  border: 1px solid transparent;
  box-shadow: 0 4px 4px 0 #00000010;
  color: var(--foreground);
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hero_gradient-button-shop {
  background-color: hsl(var(--background));
  background-clip: padding-box;
  border: 1px solid transparent;
  box-shadow: 0 4px 4px 0 #00000010;
  color: hsl(var(--foreground));
  transition-property: color, background-color, box-shadow;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hero_link-bg {
  border-radius: 6px;
  height: 102%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.hero_link-bg-1 {
  animation: animated-gradient-text_fade-foreground-1 8s infinite;
  background-image: linear-gradient(to right, #6b46c1, #c026a7);
}
.hero_link-bg-2 {
  animation: animated-gradient-text_fade-foreground-2 8s infinite;
  background-image: linear-gradient(to right, #dc2626, #fcd34d);
}
.hero_link-bg-3 {
  animation: animated-gradient-text_fade-foreground-3 8s infinite;
  background-image: linear-gradient(to right, #4c51bf, #60a5fa);
}
.hero_button-bg {
  border-radius: 6px;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}
.hero_gradient-button-bg {
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: -2;
}

.animated-gradient-text_background-theme {
  --start-color: hsl(var(--secondary-hero-2));
  --end-color: hsl(var(--primary));
  font-weight: 600;
  display: block;
  position: relative;
}
.animated-gradient-text_background-1 {
  --start-color: #6b46c1;
  --end-color: #c026a7;
  display: block;
  position: relative;
}
.animated-gradient-text_background-2 {
  --start-color: #dc2626;
  --end-color: #fcd34d;
  display: block;
  position: relative;
}
.animated-gradient-text_background-3 {
  --start-color: #4c51bf;
  --end-color: #60a5fa;
  display: block;
  position: relative;
}
.animated-gradient-text_background-theme::before {
  content: "Explore Products";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: hsl(var(--foreground));
  background-clip: text;
  color: transparent;
  z-index: 0;
}
.animated-gradient-text_foreground-theme {
  content: "Psychedelic";
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(
    90deg,
    var(--start-color),
    var(--end-color)
  );
  position: relative;
  top: 0;
  z-index: 1;
}
.animated-gradient-text_background-1::before {
  content: "Psychedelic";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: white;
  background-clip: text;
  color: transparent;
  z-index: 0;
}

.animated-gradient-text_foreground-1 {
  content: "Psychedelic";
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #6b46c1, #c026a7);
  position: relative;
  top: 0;
  z-index: 1;
}
.animated-gradient-text_background-2::before {
  content: "Dedicated";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: white;
  background-clip: text;
  color: transparent;
  z-index: 0;
}

.animated-gradient-text_foreground-2 {
  content: "Dedicated";
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #dc2626, #fcd34d);
  position: relative;
  top: 0;
  z-index: 1;
}
.animated-gradient-text_background-3::before {
  content: "Platform";
  position: absolute;
  display: block;
  width: 100%;
  text-align: center;
  margin-bottom: -10px;
  background: white;
  background-clip: text;
  color: transparent;
  z-index: 0;
}

.animated-gradient-text_foreground-3 {
  content: "Platform";
  background-clip: text;
  color: transparent;
  background-image: linear-gradient(90deg, #4c51bf, #60a5fa);
  position: relative;
  top: 0;
  z-index: 1;
}
.animated-gradient-text_foreground-theme {
  animation: animated-gradient-text_fade-foreground-theme 8s infinite;
}
.animated-gradient-text_background-theme::before {
  animation: animated-gradient-text_fade-background-theme 8s infinite;
}
.animated-gradient-text_foreground-1 {
  animation: animated-gradient-text_fade-foreground-1 8s infinite;
}
.animated-gradient-text_background-1::before {
  animation: animated-gradient-text_fade-background-1 8s infinite;
}
.animated-gradient-text_foreground-2 {
  animation: animated-gradient-text_fade-foreground-2 8s infinite;
}
.animated-gradient-text_background-2::before {
  animation: animated-gradient-text_fade-background-2 8s infinite;
}
.animated-gradient-text_foreground-3 {
  animation: animated-gradient-text_fade-foreground-3 8s infinite;
}
.animated-gradient-text_background-3::before {
  animation: animated-gradient-text_fade-background-3 8s infinite;
}
@keyframes animated-gradient-text_fade-background-theme {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-foreground-theme {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-background-1 {
  0%,
  16.667%,
  100% {
    opacity: 0;
  }
  25%,
  91.667% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-foreground-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33.333%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-background-2 {
  0%,
  100% {
    opacity: 1;
  }
  33.333%,
  50% {
    opacity: 0;
  }
  25%,
  58.333% {
    opacity: 1;
  }
}
@keyframes animated-gradient-text_fade-foreground-2 {
  0%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
  16.667%,
  66.667% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-background-3 {
  0%,
  58.333%,
  91.667%,
  100% {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}
@keyframes animated-gradient-text_fade-foreground-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

.hero_title-bg-1 {
  animation: hero_title-bg-1 8s infinite;
  background-image: linear-gradient(to right, #6b46c1, #c026a7);
}
.hero_title-bg-2 {
  animation: hero_title-bg-2 8s infinite;
  background-image: linear-gradient(to right, #dc2626, #fcd34d);
}
.hero_title-bg-3 {
  animation: hero_title-bg-3 8s infinite;
  background-image: linear-gradient(to right, #4c51bf, #60a5fa);
}

@keyframes hero_title-bg-2 {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}

@keyframes hero_title-bg-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
.button_text-bg-theme-1 {
  --start-color: hsl(var(--secondary-hero-2));
  --end-color: hsl(var(--primary));
  animation: button_text-bg-theme-1 8s infinite;
  background-image: linear-gradient(
    to right,
    var(--start-color),
    var(--end-color)
  );
}
@keyframes button_text-bg-theme-1 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}
.button_text-bg-theme-2 {
  --start-color: hsl(var(--secondary-hero-2));
  --end-color: hsl(var(--primary));
  animation: button_text-bg-theme-2 8s infinite;
  background-image: hsl(var(--textdark));
}
@keyframes button_text-bg-theme-2 {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  66.667%,
  83.333% {
    opacity: 0;
  }
}

.hero_bg-theme {
  --start-color: hsl(var(--secondary-hero-2));
  --end-color: hsl(var(--primary));
  animation: hero_bg-theme 8s infinite;
  background-image: linear-gradient(
    to right,
    var(--start-color),
    var(--end-color)
  );
}

@keyframes hero_bg-theme {
  0%,
  33.337%,
  100% {
    opacity: 1;
  }
  83.333%,
  90% {
    opacity: 0;
  }
}
.hero_bg-1 {
  animation: hero_bg-1 8s infinite;
  background-image: linear-gradient(to right, #6b46c1, #c026a7);
}

@keyframes hero_bg-1 {
  0%,
  16.667%,
  100% {
    opacity: 1;
  }
  33%,
  83.333% {
    opacity: 0;
  }
}
.hero_bg-2 {
  animation: hero_bg-2 8s infinite;
  background-image: linear-gradient(to right, #dc2626, #fcd34d);
}

@keyframes hero_bg-2 {
  0%,
  16.667%,
  66.667%,
  100% {
    opacity: 0;
  }
  33.333%,
  50% {
    opacity: 1;
  }
}
.hero_bg-3 {
  animation: hero_bg-3 8s infinite;
  background-image: linear-gradient(to right, #4c51bf, #60a5fa);
}

@keyframes hero_bg-3 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  66.667%,
  83.333% {
    opacity: 1;
  }
}

.section-max-width {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  max-width: 1580px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}
.user-profile-container {
  width: calc(100vw - var(--sidebar-dashboard-width));
}
.scrollable-container {
  /* Adjust the height as needed */
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-width: 0.7vw;
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

.scrollable-container::-webkit-scrollbar {
  width: 8px; /* Adjust the width as needed */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

.scrollable-container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.footer-gradient {
  position: absolute;
  height: 100px;
  left: 37%;
  bottom: 0;
  background: hsl(var(--background-footer));
  filter: blur(100px);
}
.grid-gradient {
  position: absolute;
  height: 100px;
  background: white;
}
.right-gradient {
  width: 33.333333%;
  max-width: 600px;
  height: 100px;
  right: 0;
  top: 80px;
  background: hsl(var(--primary));
  filter: blur(130px);
}
.left-gradient {
  position: absolute;
  width: 33.333333%;
  height: 180px;
  top: 300px;
  left: 0;
  width: 25%;
  background: #160068;
  filter: blur(100px);
}

.button_bg-gradient-theme {
  height: 60px;
  width: 100%;
  background: hsl(var(--primary));
  filter: blur(100px);
  animation: button_bg-theme 8s infinite;
}
@keyframes button_bg-theme {
  0%,
  100% {
    opacity: 0;
  }
  16.667%,
  83.333% {
    opacity: 1;
  }
}

.button_bg-gradient-1 {
  height: 60px;
  width: 100%;
  background: #c026a7;
  filter: blur(100px);
  animation: hero_bg-1 8s infinite;
}

.button_bg-gradient-2 {
  height: 60px;
  width: 100%;
  background: #fcd34d;
  filter: blur(100px);
  animation: hero_bg-2 8s infinite;
}
.button_bg-gradient-3 {
  height: 60px;
  width: 100%;
  background: #60a5fa;
  filter: blur(100px);
  animation: hero_bg-3 8s infinite;
}
.global-container {
  display: flex;
  max-width: 1441px;
  margin: 0 auto;
}
.bgvideo {
  z-index: -2;
  align-content: center;
  justify-content: center;
}

.signin-card-gradient {
  position: absolute;
  width: 42%;
  height: 180px;
  top: 72%;
  left: 0;
  background: hsl(var(--secondary-hero-2));
  filter: blur(100px);
}

/* Music GRID */

.music-grid-gradient {
  position: absolute;
  width: 33.333333%;
  height: 180px;
  top: 300px;
  left: 0;
  opacity: 0.3;
  background: hsl(var(--secondary-hero-2));
  filter: blur(300px);
}
.music-grid-banner {
  height: calc(100dvh - var(--headerHeight));
}
.music-grid {
  height: calc(100dvh - var(--headerHeight) - var(--music-grid-banner-height));
}
.music-grid-mobile {
  height: calc(
    100dvh - var(--headerHeight) - var(--music-grid-banner-height-mobile)
  );
}
.sidebar {
  flex-shrink: 0;
  overflow: hidden;
  height: calc(100dvh - var(--headerHeight));
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  position: sticky;
  left: 0;
  height: auto;
}

.sidebar .hidden-sidebar {
  opacity: 0;
  width: 0;
  height: auto;
  transition: opacity var(--animation-duration) var(--animation-timing-curve);
}

.sidebar.sidebar-open .hidden-sidebar {
  width: 100%;
  height: auto;
  opacity: 1;
}

.middle-sidebar {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
}
