.hero_gradient-button-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
  }
  .hero_gradient-link-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 1px;
    max-width: 100%;
  }
  .hero_gradient-button {
    background-color: hsl(var(--background));
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 #00000010;
    color: var(--foreground);
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hero_gradient-button-outline {
    background-color: hsl(var(--background));
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 #00000010;
    color: var(--foreground);
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hero_gradient-button-shop {
    background-color: hsl(var(--background));
    background-clip: padding-box;
    border: 1px solid transparent;
    box-shadow: 0 4px 4px 0 #00000010;
    color: hsl(var(--foreground));
    transition-property: color, background-color, box-shadow;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }
  .hero_link-bg {
    border-radius: 6px;
    height: 102%;
    position: absolute;
    width: 100%;
    z-index: -2;
  }
  .hero_link-bg-1 {
    animation: animated-gradient-text_fade-foreground-1 8s infinite;
    background-image: linear-gradient(to right, #6b46c1, #c026a7);
  }
  .hero_link-bg-2 {
    animation: animated-gradient-text_fade-foreground-2 8s infinite;
    background-image: linear-gradient(to right, #dc2626, #fcd34d);
  }
  .hero_link-bg-3 {
    animation: animated-gradient-text_fade-foreground-3 8s infinite;
    background-image: linear-gradient(to right, #4c51bf, #60a5fa);
  }
  .hero_button-bg {
    border-radius: 6px;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
  }
  .hero_gradient-button-bg {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -2;
  }
.button_bg-gradient-theme {
    height: 60px;
    width: 100%;
    background: hsl(var(--primary));
    filter: blur(100px);
    animation: button_bg-theme 8s infinite;
  }
  @keyframes button_bg-theme {
    0%,
    100% {
      opacity: 0;
    }
    16.667%,
    83.333% {
      opacity: 1;
    }
  }
  
  .button_bg-gradient-1 {
    height: 60px;
    width: 100%;
    background: #c026a7;
    filter: blur(100px);
    animation: hero_bg-1 8s infinite;
  }
  
  .button_bg-gradient-2 {
    height: 60px;
    width: 100%;
    background: #fcd34d;
    filter: blur(100px);
    animation: hero_bg-2 8s infinite;
  }
  .button_bg-gradient-3 {
    height: 60px;
    width: 100%;
    background: #60a5fa;
    filter: blur(100px);
    animation: hero_bg-3 8s infinite;
  }