.animated-gradient-text_background-theme {
    --start-color: hsl(var(--secondary-hero-2));
    --end-color: hsl(var(--primary));
    font-weight: 600;
    display: block;
    position: relative;
  }
  .animated-gradient-text_background-1 {
    --start-color: #6b46c1;
    --end-color: #c026a7;
    display: block;
    position: relative;
  }
  .animated-gradient-text_background-2 {
    --start-color: #dc2626;
    --end-color: #fcd34d;
    display: block;
    position: relative;
  }
  .animated-gradient-text_background-3 {
    --start-color: #4c51bf;
    --end-color: #60a5fa;
    display: block;
    position: relative;
  }
  .animated-gradient-text_background-theme::before {
    content: "Explore Products";
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: hsl(var(--foreground));
    background-clip: text;
    color: transparent;
    z-index: 0;
  }
  .animated-gradient-text_foreground-theme {
    content: "Psychedelic";
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(
      90deg,
      var(--start-color),
      var(--end-color)
    );
    position: relative;
    top: 0;
    z-index: 1;
  }
  .animated-gradient-text_background-1::before {
    content: "Psychedelic";
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: white;
    background-clip: text;
    color: transparent;
    z-index: 0;
  }
  
  .animated-gradient-text_foreground-1 {
    content: "Psychedelic";
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #6b46c1, #c026a7);
    position: relative;
    top: 0;
    z-index: 1;
  }
  .animated-gradient-text_background-2::before {
    content: "Dedicated";
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: white;
    background-clip: text;
    color: transparent;
    z-index: 0;
  }
  
  .animated-gradient-text_foreground-2 {
    content: "Dedicated";
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #dc2626, #fcd34d);
    position: relative;
    top: 0;
    z-index: 1;
  }
  .animated-gradient-text_background-3::before {
    content: "Platform";
    position: absolute;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: -10px;
    background: white;
    background-clip: text;
    color: transparent;
    z-index: 0;
  }
  
  .animated-gradient-text_foreground-3 {
    content: "Platform";
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #4c51bf, #60a5fa);
    position: relative;
    top: 0;
    z-index: 1;
  }
  .animated-gradient-text_foreground-theme {
    animation: animated-gradient-text_fade-foreground-theme 8s infinite;
  }
  .animated-gradient-text_background-theme::before {
    animation: animated-gradient-text_fade-background-theme 8s infinite;
  }
  .animated-gradient-text_foreground-1 {
    animation: animated-gradient-text_fade-foreground-1 8s infinite;
  }
  .animated-gradient-text_background-1::before {
    animation: animated-gradient-text_fade-background-1 8s infinite;
  }
  .animated-gradient-text_foreground-2 {
    animation: animated-gradient-text_fade-foreground-2 8s infinite;
  }
  .animated-gradient-text_background-2::before {
    animation: animated-gradient-text_fade-background-2 8s infinite;
  }
  .animated-gradient-text_foreground-3 {
    animation: animated-gradient-text_fade-foreground-3 8s infinite;
  }
  .animated-gradient-text_background-3::before {
    animation: animated-gradient-text_fade-background-3 8s infinite;
  }
  @keyframes animated-gradient-text_fade-background-theme {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    66.667%,
    83.333% {
      opacity: 0;
    }
  }
  @keyframes animated-gradient-text_fade-foreground-theme {
    0%,
    50%,
    100% {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
  }
  @keyframes animated-gradient-text_fade-background-1 {
    0%,
    16.667%,
    100% {
      opacity: 0;
    }
    25%,
    91.667% {
      opacity: 1;
    }
  }
  @keyframes animated-gradient-text_fade-foreground-1 {
    0%,
    16.667%,
    100% {
      opacity: 1;
    }
    33.333%,
    83.333% {
      opacity: 0;
    }
  }
  @keyframes animated-gradient-text_fade-background-2 {
    0%,
    100% {
      opacity: 1;
    }
    33.333%,
    50% {
      opacity: 0;
    }
    25%,
    58.333% {
      opacity: 1;
    }
  }
  @keyframes animated-gradient-text_fade-foreground-2 {
    0%,
    100% {
      opacity: 0;
    }
    33.333%,
    50% {
      opacity: 1;
    }
    16.667%,
    66.667% {
      opacity: 0;
    }
  }
  @keyframes animated-gradient-text_fade-background-3 {
    0%,
    58.333%,
    91.667%,
    100% {
      opacity: 1;
    }
    66.667%,
    83.333% {
      opacity: 0;
    }
  }
  @keyframes animated-gradient-text_fade-foreground-3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
  }
  
  .hero_title-bg-1 {
    animation: hero_title-bg-1 8s infinite;
    background-image: linear-gradient(to right, #6b46c1, #c026a7);
  }
  .hero_title-bg-2 {
    animation: hero_title-bg-2 8s infinite;
    background-image: linear-gradient(to right, #dc2626, #fcd34d);
  }
  .hero_title-bg-3 {
    animation: hero_title-bg-3 8s infinite;
    background-image: linear-gradient(to right, #4c51bf, #60a5fa);
  }
  
  @keyframes hero_title-bg-2 {
    0%,
    16.667%,
    66.667%,
    100% {
      opacity: 0;
    }
    33.333%,
    50% {
      opacity: 1;
    }
  }
  
  @keyframes hero_title-bg-3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
  }
  .button_text-bg-theme-1 {
    --start-color: hsl(var(--secondary-hero-2));
    --end-color: hsl(var(--primary));
    animation: button_text-bg-theme-1 8s infinite;
    background-image: linear-gradient(
      to right,
      var(--start-color),
      var(--end-color)
    );
  }
  @keyframes button_text-bg-theme-1 {
    0%,
    50%,
    100% {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
  }
  .button_text-bg-theme-2 {
    --start-color: hsl(var(--secondary-hero-2));
    --end-color: hsl(var(--primary));
    animation: button_text-bg-theme-2 8s infinite;
    background-image: hsl(var(--textdark));
  }
  @keyframes button_text-bg-theme-2 {
    0%,
    50%,
    100% {
      opacity: 1;
    }
    66.667%,
    83.333% {
      opacity: 0;
    }
  }
  
  .hero_bg-theme {
    --start-color: hsl(var(--secondary-hero-2));
    --end-color: hsl(var(--primary));
    animation: hero_bg-theme 8s infinite;
    background-image: linear-gradient(
      to right,
      var(--start-color),
      var(--end-color)
    );
  }
  
  @keyframes hero_bg-theme {
    0%,
    33.337%,
    100% {
      opacity: 1;
    }
    83.333%,
    90% {
      opacity: 0;
    }
  }
  .hero_bg-1 {
    animation: hero_bg-1 8s infinite;
    background-image: linear-gradient(to right, #6b46c1, #c026a7);
  }
  
  @keyframes hero_bg-1 {
    0%,
    16.667%,
    100% {
      opacity: 1;
    }
    33%,
    83.333% {
      opacity: 0;
    }
  }
  .hero_bg-2 {
    animation: hero_bg-2 8s infinite;
    background-image: linear-gradient(to right, #dc2626, #fcd34d);
  }
  
  @keyframes hero_bg-2 {
    0%,
    16.667%,
    66.667%,
    100% {
      opacity: 0;
    }
    33.333%,
    50% {
      opacity: 1;
    }
  }
  .hero_bg-3 {
    animation: hero_bg-3 8s infinite;
    background-image: linear-gradient(to right, #4c51bf, #60a5fa);
  }
  
  @keyframes hero_bg-3 {
    0%,
    50%,
    100% {
      opacity: 0;
    }
    66.667%,
    83.333% {
      opacity: 1;
    }
  }